.button {
   display: inline-block;
   margin: 20px auto 0;
   border: 1px solid rgb(200, 200, 200);
   border-radius: 2px;
   background-color: rgb(241, 241, 241);
   min-height: 30px;
   cursor: pointer;
}

.button:hover {
   border: 1px solid rgb(180, 180, 180);
   background-color: rgb(230, 230, 230);
}

.button:active {
   border: 1px solid rgb(160, 160, 160);
   background-color: rgb(190, 190, 190);
}

.button span {
   margin: 10px;
   line-height: 30px;
   font-size: 0.85rem;
   font-style: normal;
}



div.input {
   margin: 20px auto;
   text-align: center;
   font-size: 1rem;
   font-style: italic;
   border-bottom: 1px solid rgb(150, 150, 150);
   padding-bottom: 20px;
}

.input label {
   padding: 0 20px;
}

.input input[type="text"] {
   height: 25px;
   border: 1px solid rgb(160, 160, 160);
   border-radius: 4px;
   background-color: rgb(250, 250, 250);
}

.input input[type="text"].title {width: 300px;}
.input input[type="text"].labelinput {width: 150px;}

.optionwrap {
   margin-top: 10px;
}

.option {
   padding: 5px 0;
}

.button#addoption {
   display: none;
}