/* ========== GLOBAL STYLES ========== */

body {
   background-color: #eaeaea;
   margin: 0;
   font-family: 'ProximaNova', 'Helvetica', sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

a.norm {
   text-decoration: underline;
   color: blue;
   cursor: pointer;
}
a.norm:active {color: gray;}
a.norm:visited {color: blue;}

li {
   margin-bottom: 10px;
}
body.dialog-open { overflow: hidden; }

#wrapper {
   margin: 0 auto;
   width: 1000px;
   min-height: 100vh;
}

/* HEADER */

#header {
   margin: 30px 0 40px 0;
   position: relative;
   width: 100%;
   height: 200px;
   color: white;
   font-weight: 300;
}

#header a {text-decoration: none; color: white;}

#seal {
   position: absolute;
   top: -10px;
   left: -10px;
   width: 150px;
   height: 150px;
   background-image: url("/resources/images/seal150_norm.png");
   z-index: 5;
   -webkit-transition: opacity 0.25s;
      -moz-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
           transition: opacity 0.25s;
}
#seal:hover {opacity: 0.7; filter: alpha(opacity=70);}

#sealbehind {
   position: absolute;
   top: -10px;
   left: -10px;
   width: 150px;
   height: 150px;
   background-image: url("/resources/images/seal150_white.png");
   z-index: 4;
}

#banner {
   text-align: right;
   font-size: 1.2rem;
   font-weight: 300;
   position: absolute;
   top: 40px;
   height: 50px;
   width: 505px;
   box-shadow: 4px 4px 25px black;
   background-color: rgba(61,106,162,0.9);
   border-radius: 10px;
   z-index: 3;
   cursor: default;
}

#banner div {
   margin-right: 15px;
   padding: 15px 0;
}

#photobar-overlay {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   box-shadow: inset 0px 0px 15px 15px #eaeaea;
   z-index: 1;
}

#photobar {opacity: 0.9; position: relative;}
#photobar img {width: 200px; position: absolute;}

/* NAVBAR */

.nav {
   position: absolute;
   right: 0;
   bottom: 0;
   text-align: center;
   z-index: 2;
   background-color: rgba(61,106,162,0.85);
   border-radius: 10px;
   box-shadow: 0 12px 10px -10px black;
}

.navbutton {
   width: 125px;
   height: 50px;
   float: left;
   border-radius: 10px;
}
.navcol:hover .navbutton {
   background-color: #3d6aa2;
   color: #ebc62f;
   border-radius: 0;
}
.navbutton:hover {
   background-color: #3d6aa2;
   color: #ebc62f;
   border-radius: 0;
}
.navcol:hover .drop-down {display: block;}
.navbutton div.oneline {padding: 16px 0;}
.navbutton div.twoline {padding: 7px 0;}

.navcol {}

.drop-down {
   display: none;
   position: absolute;
   width: 125px;
   top: 50px;
   background-color: #3d6aa2;
   padding: 5px 0;
}
div#col0 {left: 0;}
div#col1 {left: 125px;}
div#col2 {left: 250px;}
div#col3 {left: 375px;}
div#col4 {left: 500px;}
div#col5 {left: 625px;}
div#col6 {left: 750px;}
div#col7 {left: 875px;}

.navitem {padding: 3px 0;}
.navitem:hover {background-color: #2a4c76;}

/* MAIN */

.main {
   margin: 0 auto;
   width: 100%;
   background-color: white;
   border: 1px solid #c2c2c2;
   padding: 20px 0;
   font-weight: 300;
}

.with-banner {padding-top: 0;}
.bannerwrap {position: relative;}
.photobanner {
   opacity: 0.8;
   border-bottom: 1px solid #aeaeae;
   margin-bottom: 30px;
   box-shadow: 5px 0 20px -5px black,
               -5px 0 20px -5px black;
}
.bannertext {
   position: absolute;
   bottom: 50px;
   width: 100%;
   text-align: center;
   color: white;
   font-weight: 400;
   font-size: 3rem;
   text-shadow: 2px 2px 5px black,
                -2px -2px 5px black;
}

.clearfix {
   display: block;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/* FOOTER */

#footer {
   margin: 20px auto;
   padding: 20px 0;
   width: 100%;
   height: 200px;
   font-weight: 300;
}

#footer a {color: black; text-decoration: none;}
#footer a:hover {color: #a9a9a9;}

.footerwrap {
   height: 200px;
   border-left: 1px solid #acacac;
   float: left;
}

.footercontent {margin: 20px 20px 0 20px;}
.footercontent.left {margin: 20px 20px 0 0;}
.footercontent.right {margin: 20px 0 0 20px;}

.footertitle {
   font-size: 1.25rem;
   margin-left: 20px;
}
.footertitle.left {margin-left: 0;}

.sponsor-logos {
  margin-bottom: 15px;
  text-align: center;
}
.sponsor-logos img {height: 45px; margin-right: 60px;}
.sponsor-logos#circular img {height: 75px; margin-right: 100px;}

.social-link {margin-bottom: 5px; position: relative;}
.social-link img {width: 25px;}
.social-link div {
   position: absolute;
   top: 3px;
   left: 35px;
}

#footercontact div {margin-bottom: 5px;}

#copyright {
   text-align: center;
   padding-top: 30px;
}

/* GLOBAL CONTENT STYLES */

.cont {
   border-left: 1px solid #cccccc;
   float: left;
   height: 100%;
}
.solo {
   margin: 0 auto;
   float: none;
   width: 800px;
   border-left: none;
}
.half {
   width: 499px;
}
.third {
   width: 332px;
}
.two-thirds {
   width: 666px;
}
.quarter {
   width: 249px;
}
.three-quarters {
   width: 749px;
}
.sixth {
   width: 165px;
}
.eighth {
   width: 124px;
}
.left {
   border-left: none;
}

.pagetitle {
   font-size: 2rem;
   font-weight: 400;
   margin: 0 20px 30px;
   color: rgb(36, 114, 211);
}

.blocktitle {
   font-size: 1.5rem;
   margin-left: 20px;
}
.subtitle {margin-left: 20px;}

.rowtitle {
   font-size: 1.5rem;
   margin: 0 20px;
   position: relative;
}
.blocktitlecenter {
   font-size: 1.5rem;
   text-align: center;
}

.contentblock {
   font-family: Helvetica, sans-serif;
   margin: 20px;
   margin-bottom: 40px;
   font-size: 0.85rem;
}

.highlight {
   font-size: 1.2rem;
   font-style: italic;
   color: rgb(76, 156, 255);
   margin: 1rem 0;
}

.moreinfo {
   font-family: 'ProximaNova', 'Helvetica', sans-serif;
   text-align: left;
   font-size: 1.2rem;
   margin: 1.3rem 0;
}
.moreinfo span {
   padding: 5px 15px;
   border-top: solid 1px rgb(96, 167, 253);
   border-bottom: solid 1px rgb(41, 80, 128);
   border-radius: 3px;

   background-image: linear-gradient(top, rgb(36,115,211) 85%, rgb(59,147,247) 22%);
   background-image: -o-linear-gradient(top, rgb(36,115,211) 85%, rgb(59,147,247) 22%);
   background-image: -moz-linear-gradient(top, rgb(36,115,211) 85%, rgb(59,147,247) 22%);
   background-image: -webkit-linear-gradient(top, rgb(36,115,211) 85%, rgb(59,147,247) 22%);
   background-image: -ms-linear-gradient(top, rgb(36,115,211) 85%, rgb(59,147,247) 22%);

   background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.85, rgb(36,115,211)),
      color-stop(0.22, rgb(59,147,247))
   );
}
.moreinfo span:hover {
   background-image: none;
   background-color: rgb(36,115,211);
}
.moreinfo a:active span {
   background-image: none;
   background-color: rgb(42, 100, 170);
}
.moreinfo a {
   text-decoration: none;
   color: white;
}

.sidenavitem {
   font-size: 1.2rem;
   font-weight: 400;
   margin-bottom: 5px;
   cursor: pointer;
}
.sidenavitem:hover {
   background-color: #d8dfea;
}
.sidenavitem.selected {
   background-color: rgb(161, 177, 201);
}
.sidenavitem span {
   margin-left: 20px;
}

/* CUSTOM FONTS */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/licensed/font?kit=cqricTGFMlsAIAlWLsjAF1AKFZEl-uwt8ZAZD7Zj1x8hU65Org-VsHihMsgCE9y49EhpiqJDj9lnQaq249QEOeUQPIbVTiqEwuMCDJhqySqh0bZea9sKcRbh9Fsh11uP) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/licensed/font?kit=DQiINGp8Ap1MjOmhwh7Tx-5ugVuF0peRE2RbCX9_oyQNwBUijgVt51JMhI0yg6Bx0GWXnTxZNKPIJBGdtNDk7aYaNtxZUiq34CEol0CPowf3rGVtsTkPsbDajuO5ueQw) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/licensed/font?kit=LKNfK5BiuuJ4q5ecOQLHEVAKFZEl-uwt8ZAZD7Zj1x8hU65Org-VsHihMsgCE9y49EhpiqJDj9lnQaq249QEOeUQPIbVTiqEwuMCDJhqySqh0bZea9sKcRbh9Fsh11uP) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/licensed/font?kit=2HG_tEPiQ4Z6795cGfdivAB0Reh04nFjt5MHEhuNP5gFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/licensed/font?kit=SAxt20QJL1p0_cZGS4TMfXgShx1I3EQEk3P0UXxV4G1dxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format('woff');
}

@font-face { 
  font-family:'ProximaNova'; src:url('/resources/fonts/ProximaNova/proximanova-light.eot'); src:url('/resources/fonts/ProximaNova/proximanova-light.eot?#iefix') format('embedded-opentype'),url('/resources/fonts/ProximaNova/proximanova-light.woff') format('woff'),url('/resources/fonts/ProximaNova/proximanova-light.ttf') format('truetype'); 
  font-weight:300; 
  font-style:normal; 
}

@font-face { 
  font-family:'ProximaNova'; src:url('/resources/fonts/ProximaNova/proximanova-regular.eot'); src:url('/resources/fonts/ProximaNova/proximanova-regular.eot?#iefix') format('embedded-opentype'),url('/resources/fonts/ProximaNova/proximanova-regular.woff') format('woff'),url('/resources/fonts/ProximaNova/proximanova-regular.ttf') format('truetype'); 
  font-weight:400; 
  font-style:normal; 
}

@font-face { 
font-family:'ProximaNova'; src:url('/resources/fonts/ProximaNova/proximanova-semibold.eot'); src:url('/resources/fonts/ProximaNova/proximanova-semibold.eot?#iefix') format('embedded-opentype'),url('/resources/fonts/ProximaNova/proximanova-semibold.woff') format('woff'),url('/resources/fonts/ProximaNova/proximanova-semibold.ttf') format('truetype'); 
  font-weight:600; 
  font-style:normal; 
}

/* UTILITY */

.clear {clear:both;}

/* =================================== */