.sponsorrow {
   margin: 20px;
   position: relative;
   height: 150px
}

.sponsorrow img {
   width: 148px;
   margin: 0 20px 0 15px;
}

.sponsorrow a:visited {
   color: blue;
}

.sponsorrow a:active {
   color: gray;
}

.blurb {
   width: 475px;
   position: absolute;
   right: 20px;
   text-align: justify;
   display: inline-block;
}

.picwrap {
   height:150px;
   width: 250px;
   display: inline-block;
}