.sponsorrow {
   padding-bottom: 40px;
}

.sponsorrow img {
   width: 148px;
   margin-right: 20px;
}

.sponsorrow a:visited {
   color: blue;
}

.sponsorrow a:active {
   color: gray;
}

.blurb {
   width: 500px;
   float: right;
}