.sponsorrow {
   padding-bottom: 40px;
   text-align: center;
}

.sponsorrow img {
   width: 148px;
   margin-right: 20px;
}

.sponsorrow a:visited {
   color: blue;
}

.sponsorrow a:active {
   color: gray;
}

.blurb {
   width: 475px;
   float: right;
   text-align: justify;
   display: inline-block;
}