.optionbar {
   float: right;
}

.pagewrap {
   margin: 20px 20px 40px;
}
.merchwrap {
   margin-bottom: 30px;
}

.merchrow {
   position: relative;
   height: 300px;
   margin-bottom: 30px;
}

.merch {
   width: 220px;
   height: 300px;
   margin-right: 20px;
   float: left;
   border: 1px solid #ddd;
   -webkit-transition: box-shadow 0.25s,
                       z-index 0.25s;
      -moz-transition: box-shadow 0.25s,
                       z-index 0.25s;
       -ms-transition: box-shadow 0.25s,
                       z-index 0.25s;
        -o-transition: box-shadow 0.25s,
                       z-index 0.25s;
           transition: box-shadow 0.25s,
                       z-index 0.25s;       
   box-shadow: 0 5px 5px -5px #bbb;
}

.merch:hover {
   box-shadow: 5px 0 40px -5px rgb(126, 126, 126),
               -5px 0 40px -5px rgb(126, 126, 126);
   z-index: 1;
}

.merch.right {margin-right: 0;}

.productwrap {
   position: relative;
   width: 220px;
   height: 225px;
   cursor: pointer;
}
.product{
   width: 220px;
   height: 225px;
   cursor: pointer;
}
.productname, .productprice {
   font-size: 1.2rem;
}

.infowrap {
   padding: 10px;
}
.add-to-cart {
   float: right;
}

.merchtext {
   display: none;
   text-align: center;
   position: absolute;
   bottom: 60px;
   left: 50%;
   width: 150px;
   margin-left: -75px;
   color: black;
}

.merchprice {
   text-align: center;
   font-weight: 400;
   color: white;
   position: absolute;
   bottom: 10px;
   right: 0;
   width: 65px;
   background-color: rgba(36, 114, 211, 0.85);
}

.divider {
   position: absolute;
   bottom: 5px;
   left: 209px;
   height: 90px;
   width: 2px;
   background-color: #eaeaea;
   border-radius: 1px;
}

/* ADD ANIMATION *************************************************************/
.item-add-frame {
   position: absolute;
   z-index: 20;
}
.item-add-sprite {
   display: none;
   position: absolute;
}

/* CART **********************************************************************/
.cart-min {
   position: absolute;
   right: 40px;
   cursor: default;
}
.cart {
   position: absolute;
   top: 5px;
   right: 30px;
   border: 1px solid #ccc;
   z-index: -99;
   background-color: white;
   opacity: 0;
   min-height: 135px;
   min-width: 360px;
}
.emptycart {
   font-style: italic;
   z-index: 15;
}
.cart-head {
   opacity: 0;
   width: 350px;
   height: 30px;
   border-bottom: 1px solid #aaa;
   margin: 0 5px;
   font-size: 0.8rem;
}
.cart-item {
   width: 350px;
   height: 50px;
   margin: 5px;
   position: relative;
}
.prod-min {
   width: 50px;
   height: 50px;
   margin-left: 10px;
}
.cart-item .prod-name {
   left: 75px;
   font-size: 1.2rem;
}
.prod-quant {
   right: 75px;
   text-align: center;
   position: absolute;
}
.prod-price, .total-price {
   right: 10px;
   font-size: 1.2rem;
}
.total-bar {
   opacity: 0;
   height: 30px;
   font-size: 1.2rem;
   margin: 5px;
   border-top: 1px solid #aaa;
}

.checkout {
   opacity: 0;
   height: 50px;
}

/* MERCH TYPES ****************************************************************
.tee {
   border: 3px solid #137ae3;
}
.accessory {
   border: 3px solid #ecea26;
}
.other {
   border: 3px solid #2bae28;
}

/* BADGES ********************************************************************/
.badge {
   position: absolute;
   top: 0;
   left: 0;
   height: 75px;
   width: 75px;
   background-size: 100%;
}

.new { background-image: url("/resources/images/UI/new.png"); }
.soldout { background-image: url("/resources/images/UI/soldout.png"); }

/* OVERLAY *******************************************************************/

.veil {
   display: none;
   background-color: rgba(90,90,90, 0.7);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 6;
}

.overlay {
   display: none;
   background-color: white;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -350px;
   margin-left: -425px;
   width: 850px;
   height: 700px;

   box-shadow: 5px 0 30px -5px black,
               -5px 0 30px -5px black;
   border-radius: 5px;

   z-index: 7;
}

.overlaywrap {
   margin: 50px 30px;
}

.overlay img {
   width: 400px;
   height: 600px;
}