.optionbar {
   float: left;
   width: 175px;
   min-height: 650px;
}

.pagewrap { margin-top: 30px; }
.merchwrap {
   float: right;
   width: 618px;
   margin-bottom: 30px;
}

.merchrow {
   position: relative;
   height: 306px;
}

.merch {
   position: absolute;
   width: 200px;
   height: 300px;
   -webkit-transition: box-shadow 0.25s,
                       z-index 0.25s;
   cursor: pointer;
}

.merch:hover {
   box-shadow: 5px 0 30px -5px black,
               -5px 0 30px -5px black;
   z-index: 1;
}

.merch.left {left: 0;}
.merch.mid {left: 206px;}
.merch.right {right: 0;}

.merch img{
   width: 200px;
   height: 300px;
}

.merchtext {
   display: none;
   text-align: center;
   position: absolute;
   bottom: 60px;
   left: 50%;
   width: 150px;
   margin-left: -75px;
   color: black;
   background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #eaeaea, white);
}

/* MERCH TYPES */
.tee {
   border: 3px solid #137ae3;
}
.accessory {
   border: 3px solid #ecea26;
}
.other {
   border: 3px solid #2bae28;
}

.veil {
   display: none;
   background-color: rgba(90,90,90, 0.7);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 6;
}

.overlay {
   display: none;
   background-color: white;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -350px;
   margin-left: -425px;
   width: 850px;
   height: 700px;

   box-shadow: 5px 0 30px -5px black,
               -5px 0 30px -5px black;
   border-radius: 5px;

   z-index: 7;
}