input {
   margin-bottom: 10px;
}

th,
td {
   font-weight: normal;
}

table input {
   margin-right: 15px;
}

.addRow-button {
   background-image: url("/resources/images/UI/plus-sign-32.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 24px;
   height: 24px;
   cursor: pointer;
   margin-top: -9px;
}