#text {
	display: inline-block;
	position:static;
	float:left;
	margin-left:50px;
	clear:right;
}
.button{
	display: inline-block;
	margin:10px;
	float:left;
	position:relative;
	clear:right;
}
#photo{
	display: inline-block;
	float:left;
	max-width: 600px;
	max-height:500px;
	min-height:200px;
	min-width:300px;
	margin:10px;
}
.block{
	display:inline-block;
	clear:both;
}