#profileGraph {
   position: relative;
   height: 600px;
   z-index: 11;
}

.profileNode {
   position: absolute;
   cursor: pointer;
   display: none;
   border-radius: 100%;
}

.nodeTint {
   position: absolute;
   z-index: 12;
   pointer-events: none;
   border-radius: 100%;
   top: 0;
   left: 0;
}

.nodeTextWrap {
   position: absolute;
   z-index: 13;
   pointer-events: none;
   text-align: center;
   color: white;
   display: none;
}
.nodeTextWrap:before {
   content: '';
   display: inline-block;
   height: 100%; 
   vertical-align: middle;
}

.nodeTitle.full {
   display: inline-block;
   vertical-align: middle;
}

#edges {
   position: absolute;
   top: 10px;
   z-index: 10;
}