#calendar_canvas
{
  position: relative;
  margin: auto;
  width: 710px;
  height: 530px;
  /*background: red;*/
  text-align: center;
  overflow: hidden;
}

div.cal_frame
{
  position: absolute;
  width: 706px;
  height: 526px;
  /*background: black;*/
  text-align: center;
}


div.cal_header_row
{
  height: 40px;
  width: 705px;
  /*background: yellow;*/
  margin: auto;
  padding: 0px;
}


div.cal_row
{
  height: 80px;
  width: 705px;
  /*background: green;*/
  margin: auto;
  padding: 0px;
}

div.cal_header_el
{
  height: 40px;
  width: 100px;
  background: white;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: 1px solid black;
}
div.cal_day
{
  height: 80px;
  width: 100px;
  background: gray;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: 1px solid black;
}
