.featured-container {
   width: 850px;
   margin: 0 auto;
   position: relative;
}

.featured-container img {
   width: 850px;
   border: 1px solid #aaa;
}

.featured-overlay {
   opacity: 0;
   position: absolute;
   top: 1px;
   left: 1px;
   z-index: 99;
   color: white;
}

.featured-overlay-bkgd {
   width: 850px;
   opacity: 0.6;
   background: black;
   z-index: -1;
}

.details {
   position: absolute;
   top: 0;
   opacity: 1;
   padding: 20px;
   width: 300px;
   font-size: 1.3rem;
}

.details > div,
.links > div {
   margin: 5px 0;
}

.details > div.top {
   margin-top: 0;
}

.links {
   position: absolute;
   bottom: 0;
   padding: 20px;
   width: 300px;
   font-size: 1.1rem;
}

.links a {
   color: white;
   text-decoration: none;
   cursor: pointer;
}
.links a:hover {
   text-decoration: underline;
}