.services-container {
    width: 90%;
    margin: 20px auto 0;
    text-align: center;
}

.service {
    text-align: center;
    width: 200px;
    margin: 0 10px 20px;
    display: inline-block;
}

.service img {
    height: 55px;
    margin: 0 auto;
}

.merchEdit {
	background: url("/resources/images/eboard/merchEdit.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	left: 15px;
	position: absolute;
}

.merchDelete {
	background: url("/resources/images/eboard/merchDelete.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 4px;
	left: 15px;
	cursor: pointer;
}