.services-container {
   width: 90%;
   margin: 20px auto 0;
   text-align: center;
}

.service {
   text-align: center;
   width: 200px;
   margin: 0 10px 20px;
   display: inline-block;
}

.service img {
   height: 55px;
   margin: 0 auto;
}

.merchEdit {
   background: url("/resources/images/eboard/merchEdit.png");
   background-size: contain;
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   top: 4px;
   left: 15px;
   position: absolute;
}

.merchDelete {
   background: url("/resources/images/eboard/merchDelete.png");
   background-size: contain;
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   position: absolute;
   top: 4px;
   left: 15px;
   cursor: pointer;
}

/* Manage Eboard Info */
.eboarder {
   margin: 20px 0;
   position: relative;
   visibility: hidden;
}
.eboarder img {
   width: 200px;
   height: 267px;
   vertical-align: top;
   float: left;
}
.eboarder .text-container {
   margin-left: 220px;
   margin-bottom: 10px;
}
.eboarder .name {
   height: 40px;
   font-size: 2rem;
   font-family: inherit;
   padding: 0;
   margin: 0;
}
.eboarder .blurb {
   font-family: inherit;
   font-size: 1rem;
   margin-top: 10px;
   height: 209px;
   width: 95%;
}
.eboarder .file {
   margin: 0;
   margin-bottom: 10px;
}
.eboarder .savebuttonwrap {
   margin: 10px 0;
}