.rowtitle {
   margin-left: 0;
}

table.memberList {
   padding: 10px 0;
   margin: 0 auto;
}

table.memberList td {
   width: 200px;
}

.member-link:hover {
   color: rgb(36, 114, 211);
   text-decoration: underline;
}

.member-list-header {
   color: rgb(36, 114, 211);
}

.no_results_msg {
   text-align: center;
}

.create-msg-container {
   text-align: center;
   margin: 0;
   padding-bottom: 20px;
}

.create-msg {
   padding: 10px;
   background: rgb(230,230,230);
}

/* Individual profile styles */
.profile#sidebar {
   float: left;
   width: 250px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.profile#image-container {
   text-align: center;
   width: 250px;
}
.profile#profile-image {
   width: 200px;
   border: 1px solid #aaa;
   vertical-align: top;
}

.profile#main-space {
   float: right;
   width: 675px;
}

.profile#name {
   font-size: 2rem;
}

.profile#year {
   font-size: 1.3rem;
   text-transform: uppercase;
   color: rgb(36, 114, 211);
}

.profile#transfer {
   font-size: 1.3rem;
   text-transform: uppercase;
}

.profile#contact {
   margin: 1em 0;
}

.profile#contact a {
   color: black;
   text-decoration: none;
}

.profile#contact a:hover {
   color: rgb(36, 114, 211);
   text-decoration: underline;
}

.profile#quote {
   font-style: italic;
}

